<h1></h1>Productos en tiempo real</h1>

    <div class="container">
        <h2>Productos en tiempo real</h2>
        <div>
            <form>
                <h3>Ingrese un producto</h3>
                <label class="formLabel" for="title">Título: <input type="text" name="title" id="inputTitle" class="inputField"></label>
                <label class="formLabel" for="description">Descripción: <input type="text" name="description" id="inputDescription" class="inputField"></label>
                <label class="formLabel" for="price">Precio: <input type="number" name="price" id="inputPrice" class="inputField"></label>
                <label class="formLabel" for="code">Código: <input type="number" name="code" id="inputCode" class="inputField"></label>
                <label class="formLabel" for="stock">Stock: <input type="number" name="stock" id="inputStock" class="inputField"></label>
                <label class="formLabel" for="category">Categoría: <input type="text" name="category" id="inputCategory" class="inputField"></label>
                <button class="buttonForm" id="createProduct">Crear Producto</button>
            </form>
            
            <div>
                {{#each products}}
                <div class="productContainer">
                    <button class="deleteButton" onclick="deleteProduct('{{this.id}}')">Eliminar</button>
                    <p>{{this.id}}</p>
                    <div>
                        <h1>{{this.title}}</h1>
                        <p><b>Descripción:</b> {{this.description}}</p>
                        <p><b>Código:</b> {{this.code}}</p>
                        <p><b>Stock:</b> {{this.stock}}</p>
                        <p><b>Precio:</b> {{this.price}}</p>
                        <p><b>Categoria:</b> {{this.category}}</p>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

<script src="/socket.io/socket.io.js"></script>
<script src="/public/index.js"></script>